@import "../variables";
@import "../mixins/link";
@import "../mixins/transition";

nav.pagination {
    display: flex;
    justify-content: space-between;
    align-content: center;

    a {
        @include link(black);

        padding: 1rem;

        font-family: $lato;

        &.pagination__previous, &.pagination__next {
            background-color: #fafafa;
            @include transition(all 0.2s ease-in-out);
            border-radius: 0.1875em;
            border: 1px solid #f3f3f3;
        }

        &.pagination_available {
            &:hover, &:focus {
                background: white;
                color: #477dca;
            }
        }

        &.pagination_disabled {
            opacity: .5;
        }
    }
}