@import "../variables";
@import "../mixins/link";

article.post {
    margin: 1rem 0;
    padding: 1rem 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);

    a {
        @include link(black);
    }

    .post__header {
        .post__date {
            font-size: 2rem;

            @media screen and (min-width: $viewport-large) {
                font-size: 1.75em;
            }

            color: $date-color;
        }

        .post__title {
            font-size: 8rem;

            @media screen and (min-width: $viewport-large) {
                font-size: 5em;
            }

            font-weight: bold;
        }
    }

    .post__excerpt {
        font-size: 2em;

        @media screen and (min-width: $viewport-large) {
            font-size: 1.75rem;
        }

        color: $main-text-color;
    }
}