@import "../variables";
@import "../mixins/link";

article.post {
    margin: 1rem 0;
    padding: 1rem 0;
    // background-color: gray;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);

    a {
        @include link(black);
    }

    .post__header {
        .post__date {
            color: $date-color;
        }

        .post__title {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}