@import "../variables";
@import "../mixins/center-wrapper";
@import "../mixins/link";
@import "../animations";

.single-post__date {
    margin: 5rem 0;

    @media screen and (min-width: $viewport-large) {
        margin: 5rem 0 2rem;
    }

    line-height: 1.5;
    font-size: 1.75rem;

    text-align: center;
    color: $date-color;

    span {
        font-style: italic;
    }

    animation: 1s 0s fadeInDown;
}

h1.title {
    @include center-wrapper();

    font-size: 10rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4rem;

    line-height: 1;

    @media screen and (min-width: $viewport-large) {
        font-size: 6rem;
    }

    &:after {
        content: '';
        display: block;
        margin: 2rem auto;
        border-top: 1rem solid $black-text-color;
        width: 15rem;
    }

    animation: 1s 0s fadeInDown;
}

article.single-post {
    @include center-wrapper();

    line-height: 1.25;
    font-family: $font-text;
    font-size: 1.75rem;

    color: $main-text-color;

    p {
        text-align: justify;
        
        margin: 3rem 0;
    }

    li > p {
        margin: 1rem 0;
    }

    h1, h2, h3, h4 {
        margin: 2rem 0;
        font-weight: bold;
        color: $black-text-color;
    }

    h1 {
        font-size: 6rem;

        @media screen and (min-width: $viewport-large) {
            font-size: 4.5rem;
        }
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    ol, ul {
        margin-block-start: 2rem;
        margin-block-end: 2rem;

        padding-inline-start: 4rem;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    li > ul {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        border-radius: 1rem;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    a {
        @include link($external-link-color);
    }

    & > table {

        @media screen and (max-width: $viewport-large) {
            font-size: 2em;
        }

        margin: 0 auto;

        th {
            font-weight: bold;
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid $table-border-color;
            padding: 1rem 2rem;
        }

        tr:nth-child(2n) {
            background-color: #f2f2f2;
        }
    }

    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }

    code {
        display: block;
        padding: 1rem;
        background-color: #f2f2f2;
        border-radius: .25rem;
    }
}

.mail-subscription {
    @include center-wrapper();
    background: #f7f7f7;
    border-radius: 1rem;
    text-align: center;

    box-shadow: 0 4px 13px -2px rgba(0,0,0,0.2);

    h4 {
        font-size: 2.5rem;
        padding: 1rem;
    }

    .email-input {
        display: inline;
        position: relative;
    }

    #mce-EMAIL {
        width: 90%;
        padding: 1rem;
        border: none;
        border-radius: .75rem;
        font-size: 1.5rem;
        text-align: center;
    }

    #mc-embedded-subscribe {
        margin: .5rem;
        padding: 1rem;
        border: none;
        border-radius: 1rem;
    }
}