doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{site.title}
        meta(name='description', content=site.description)
        link(rel='stylesheet', href=`${site.baseUrl}css/main.css`)
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato|Merriweather')
    body
        header
            nav
                a.logo(href='#') #{site.title}
                ul
                    li 
                        a(href='#').navigation_active Posts
                    li
                        a(href='#') About
        main
            block content