.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;

  .logo {
    display: flex;

    a {
        font-size: 22pt;
    }
  }

  .navigation {

    ul {
      display: flex;
      justify-content: space-between;

      li {
          margin-left: 1em;
        //   padding: 1em;
          font-size: 14pt;

          .navigation_active {
              border-bottom: 2px solid green;
          }
      }
    }
  }
}
