$black-text-color: #333333;
$date-color: #aaa;
$main-text-color: #555555;

$font-heading: "Lato","Helvetica Neue",Helvetica,sans-serif;
$font-text: "Libre Baskerville","Times New Roman",Times,serif;

$viewport-large: 1024px;