$black-text-color: #333333;
$date-color: #aaa;
$main-text-color: #555555;
$external-link-color: #0074D9;
$table-border-color: #ddd;

$font-heading: "Lato","Helvetica Neue",Helvetica,sans-serif;
$font-text: "Roboto","Times New Roman",Times,serif;

$viewport-large: 1024px;