$text-color: #333333;
$date-color: #aaa;
$main-text-color: #555555;

$merriweather: "Merriweather","PT Serif",Georgia,"Times New Roman",serif;
$lato: "Lato","Helvetica Neue",Helvetica,sans-serif;

$viewport-large: 1024px;